
h1 {
  text-align: center;
}

.loading {
  text-align: center;
  font-size: 200%;
  height: 200px;
  line-height: 200px;
}

.user p {
  word-break: break-word;
}
.numbers {
  text-align: center;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


